    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <br/>
<p>Trojjazyčná od dětství, nabízím své služby za bezkonkurenční ceny a rychlou, přesnou a spolehlivou práci.</p>
<br>
<p>Jazykové kombinace:
<p>Francouzština - slovenčina
<p>Slovenčina - francouzština
<p>Francouzština - čeština
<p>Čeština - francouzština
<br><br>
<p>Cena závisí na složitosti textu, jeho délky a požadovaného času.
<p>Nabízené služby: překlad - korekce
<br><br>
<p>Ceny:
<p>    • Překlad: 0,10 - 0,12 € / slovo
<p>    • Korekce: 0,02 - 0,05 € / slovo
<br><br><br>
                <br/>
              </div>
        </div>
    </section>
