    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <br/>
<p>Trilingue depuis mon enfance, je propose mes services à des prix imbattables ainsi qu’un travail rapide, précis et fiable.</p>
<br>
<p>Combinaisons linguistiques : 
<p>Français – Slovaque
<p>Slovaque – Français
<p>Français – Tchèque
<p>Tchèque – Français
<br><br>
<p>Le prix dépend de la complexité du texte, de sa longueur et du délai souhaité.
<p>Services proposés : traduction – relecture – correction
<br><br>
<p>Tarifs :
<p>    • Traduction : 0,10 – 0,12 € / mot
<p>    • Relecture et correction : 0,02 – 0,05 € / mot
<br><br><br>
                <br/>
              </div>
        </div>
    </section>
